a {
	color: #268bd2;
}

a:focus,
a:hover {
	color: #0087ff;
}

canvas {
	width: 80%;
	height: 80%;
}

div {
	max-width: 62em;
	margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

body {
	background-color: #ffffd7;
	color: #262626;
}

h1 {
	font-style: normal;
	font-weight: 800;
	text-align: center;
	padding: 15px 0px;
}

h2 {
	font-style: normal;
	font-weight: 400;
	text-align: center;
	padding: 15px 0px;
}

img {
	max-width: 100%;
	height: auto;
  display: block;
  margin: 0 auto;
}
