a,
a:focus,
a:hover {
	color: #ddddff;
}
article {
    width: 60em;
    max-width: 90.0%;
    font-size: 110%;
    padding: 15px 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
}
img {
    display: block;
    margin: 0 auto;
}
span {
	font-style: bold;
}
.figure {
	color: #ffdb19
}
body {
	background-color: #222232;
	color: #ffffff;
}
h1 {
	font-family: "Raleway", Arial, serif;
	font-style: normal;
	font-weight: 800;
	text-align: center;
	padding: 15px 0px;
}
h2 {
	font-family: "Raleway", Arial, serif;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	padding: 15px 0px;
}
p {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;

}
.lead {
	padding: 15px 15px;
	text-align: center;
}
.foot {
	text-align: center;

